* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
  max-height: 1080px;
}

.square {
  width: 16px;
  height: 16px;
  background: #282828;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 4s ease-in;
}

.square:hover {
  transition-duration: 0s;
}